.header-wraper {
  position: relative;
  /* background: url(ground.jpg) no-repeat; */
  background-size: cover;

  background-position: center;
  height: 60vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}